name: "Release"

on:
  release:
    types:
      - "published"

permissions: {}

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v5.0.0"

      - name: "Adjust version number"
        shell: "bash"
        run: |
          yq -i '.version="${{ github.event.release.tag_name }}"' \
            "${{ github.workspace }}/smartmeter/config.yaml"

      - name: "✏️ Generate release changelog"
        id: changelog
        uses: janheinrichmerker/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "write changelog"
        env:
          CHANGELOG: ${{ steps.changelog.outputs.changelog }}
        run: |
          set -x
          echo "writing log file"
          echo "$CHANGELOG" | sed 's@%0A@\n@g' > smartmeter/CHANGELOG.md
          echo "Current changelog:"
          cat smartmeter/CHANGELOG.md
          echo "CHANGELOG updated."

      - name: Commit config.yaml
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: "Update version to ${{ github.event.release.tag_name }} and update CHANGELOG.md"
          file_pattern: smartmeter/config.yaml smartmeter/CHANGELOG.md

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target smartmeter \
            --docker-hub paulwoelfel
